.advantages.section {
	@include desktop {
		padding-bottom: 0;
	}
}

.advantage-item {
	@media screen and (max-width: 767px) {
		&:not(last-child) {
			margin-bottom: 30px;
		}
	}

	@include tablet {
		margin: 15px;
		flex-basis: calc(100% / 2 - 30px);
	}

	@include desktop {
		flex-basis: calc(100% / 4 - 30px);
	}
}

.advantage-item__bg {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;

	background-color: $background-light-color;
}

.advantage-item__title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	@media screen and (max-width: 767px) {
		text-align: center;
	}
}
