.hero {
	height: 400px;
	max-width: 480px;
	padding-top: 118px;
	padding-bottom: 118x;
	margin-left: auto;
	margin-right: auto;

	background-color: $background-dark-color;
	background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;

	@include tablet {
		height: 400px;
		max-width: 768px;
	}

	@include desktop {
		height: 600px;
		max-width: 1600px;
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.hero__title {
	max-width: 360px;
	margin: 0 auto 30px auto;
	color: $white-color;

	font-weight: 900;
	font-size: 26px;
	line-height: 1.62;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	@include desktop {
		max-width: 696px;
		font-size: 44px;
		line-height: 1.36;
	}
}

.hero__button {
	display: inline-block;
	border-radius: 4px;
	padding: 10px 32px;
	border: none;

	color: $white-color;
	background-color: $accent-color;
	cursor: pointer;

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
}
