.logo {
	display: inline-flex;
	color: #000000;
	font-family: $secondary-font, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.17;

	@include desktop {
		font-size: 26px;
		line-height: 1.19;
	}
}

header .logo {
	@include tablet {
		margin-right: 88px;
	}

	@include desktop {
		margin-right: 93px;
		font-size: 26px;
		line-height: 1.19;
	}
}

.logo-accent {
	color: $accent-color;
}

footer .logo {
	margin-bottom: 20px;
	color: #ffffff;
}
