.soc-list {
	display: flex;
	justify-content: center;
}

.soc-list__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	color: #afb1b8;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:not(:last-child) {
		margin-right: 10px;
	}

	&:hover,
	&:focus {
		background-color: $accent-color;
		color: $white-color;
	}
}

.soc-list__icon {
	fill: currentColor;
}

// footer soc-list

.soc-list__item--with-bg {
	color: $white-color;
	background: rgba(255, 255, 255, 0.1);
}
